*
{
    margin: 0;
    padding: 0;
    user-select: none;
    
}

body
{   
    display: flex;
    background: rgb(7, 7, 7);
    overflow: hidden;
    transition:  0.4s;
    cursor: url(shells/cursour33.png), auto;
    /* overflow: scroll; */
}

.selector
{
    
    height: 100%;
    width: 100%;
    position: absolute;
    outline: #003cff solid 3px;
    transform: translateZ(400px);
    transition: 0.5s linear;
    transform-style: preserve-3d;
}
.selector.close
{
    transform: translateZ(700px) translateY(-100px);
}
.space
{
    top: 0;
    left: 0;
    position: absolute;
    -webkit-perspective:1300px;
    /* perspective: 1300px; */
    width: 100%;
    height: 100%;
    /* min-height: 600px; */
    filter: contrast(1.05);
    /* filter: blur(12px); */
}
.scene
{
    top: 0.9%;
    left: 0.5%;
    position: absolute;
    transform-style: preserve-3d;
    /* transition: 0.12s; */
    transition: 1.5s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-90px) rotateY(0deg) rotateX(0deg) translateZ(0px);
    /* background-color: #00ff621a; */
    /* outline: 3px solid white; */
}
.scene.normal
{
    transform: translateY(-90px) rotateY(0deg) rotateX(0deg) translateZ(0px);
}
.floor
{
    transform: translateZ(-400px) rotateX(90deg) rotateZ(0deg); 
    transform-origin: 0% 0%;
    top: 95.5%;
    /* left: 300px; */
    position: absolute;
    width: 1000px;
    height: 1000px;
    background: url(Coolcircle2.png);
    filter: brightness(0.4);
    background-size: 100%;
    
    /* background-color: rgba(255, 255, 255, 0.014); */
    /* background: radial-gradient(#3b3b3b, #000000); */
    /* outline: 5px solid rgb(255, 255, 255); */
}



 @keyframes RotateScene
{
    0%
    {
        transform:  rotatey(0deg);
        
    }

    100%
    {
        transform:  rotatey(-360deg);
        
    }
}



.info
{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 450px;
    background-size: 2000px;
    backface-visibility: hidden;
    transform: translate3d(450px,-850px,-1133px) rotateY(-90deg) scale(0.65);
    transition: 0.7s;
    filter: blur(12px);
    transition-delay: 0.3s;

}
.info .content h3
{
    margin: 25px;
    font-size: 1.7em;
    color: rgb(255, 255, 255);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.info:hover
{
    transform: translate3d(-270px,-347px,300px) rotateY(5deg);
    background: linear-gradient(
      178deg,  
      rgba(255, 255, 255, 0.671) 0%,
      rgba(255, 255, 255, 0.418) 10%,
      rgba(255,255,255,0.2) 25%,
      rgba(0, 0, 0, 0.178) 76%,
      rgba(75, 75, 75, 0.315) 100%
    ); /* W3C */
    border-image: none;
    border-style: inset;
    border-width: 4px;
    border-radius: 20px;
    cursor: pointer;
    filter: blur(0.6px);
}

.manifest
{
    position: relative;
    top: 0;
    /* position: absolute; */
    width: 425px;
    height: 250px;
    background: #0000004d;
    background-size: 2000px;
    backface-visibility: hidden;
    border-radius: 20px;
    transform: translate3d(-450px, -80px, 50px) rotateY(90deg) scale(0.5);
    transition: 0.5s;
    filter: blur(6px) opacity(0.8);
    transition-delay: 0.1s;
}
.manifest .content2 h3
{
    position: absolute;
    margin: 20px;
    font-family: 'lato-light.ttf';
    margin: 40px;
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.manifest.active9
{

    transform: translate3d(-250px, 0px, 300px) rotateY(0deg) scale(0.5);
    filter: blur(0px) opacity(1);
    border: 2px solid rgb(255, 255, 255); 
    box-shadow: 0 0 3px 0 rgb(255, 255, 255);
    
}

@font-face
{
    font-family: 'Seagram TFB';
    src: url(Seagram\ tfb.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face
{
    font-family: 'lato-light.ttf';
    src: url(Lato-light/lato-light.ttf);

}
/*
 
 */
.manifest img
{
    position: absolute;
    filter: invert(1);
    /* mix-blend-mode: screen; */
    top: 10px;
    right: 10px;
    width: 40px;
}


.closeall
{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0px;
    right: 0;
    display: none;

}
.closeall img
{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 20px;
    right: 20px;
    filter: invert(1);
    /* outline: 1px solid rgb(255, 255, 255); */
    cursor: pointer;
}

/* SASHK__________________ */

.wall
{

    position: absolute;

    width: 998px;
    height: 90%;

    border: 2px solid #ffffff46;
    /* background-size: 2000px; */
    backface-visibility: hidden;
    background: radial-gradient(#111111, #000000);
    
}
.wall1 .wallregal
{
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    right: 0;
    /* z-index: -10; */
    /* outline: 1px solid rgba(255, 255, 255, 0.164); */
    /* background-color: #003cff; */
}
.wall1 .rpclose
{
    position: absolute;
    top: 4%;
    left: 1%;
    width: 50px;
    height: 50px;
    filter: invert(1);
    cursor: pointer;
    display: none;
}
.rpclose.rpon
{
    display: block;
}
.wall.wall1
{
    /* TOP!!!!!!!!! */
    position: absolute;
    transform: translate3d(0px, 0px,-400px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wall.wall1 .show
{
    width: 10%;
    mix-blend-mode: screen;
    opacity: 0;
    transition: 0.6s;
    cursor: pointer;
    filter: hue-rotate(30deg);
    transition-delay: 0.5s;
}
.wall1:hover .show
{
    opacity: 1;
}
.show.showoff
{
    display: none;
}

.wall.wall1.dance
{
    background: url(https://i.gifer.com/4RNk.gif); 
    filter: hue-rotate(-30deg);
    background-size: cover;
    transition: 1s;
}
.wall.wall3.dance
{
    background-size: cover;
    transition: 2s;
}

.wall.wall2 
{
    /* RIGHT!!!  */

    transform: translate3d(500px, 0px, 100px) rotateY(270deg) rotateZ(-0deg);

    border-radius: 1px;
    text-align: center;
    transition-delay: 0.3s;
    display: flex;
    justify-content: center;

}
.wall.wall2 h1
{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 12%;
    left: 5%;
    font-size: 17rem;
    color: rgba(255, 255, 255, 0.007);
}
.wall.wall2 .wallcontent
{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 70%;
    height: 70%;
    border-right: rgba(255, 255, 255, 0.014) 0.6rem solid;
    border-bottom: rgba(255, 255, 255, 0.014) 1rem solid;
    border-left: rgba(128, 128, 128, 0) 2rem solid;
    border-top: rgba(128, 128, 128, 0) 2rem solid;
}
.wall.wall3
{
    /* BACK!!!! */
    /* transform: translate3d(-500px, -750px, 500px) rotateY(180deg); */
    transform: translate3d(0px, 0px, 600px) rotateY(180deg);
    background-size: cover;
    background-position: 50%;
    backface-visibility: hidden;
    display: block;
    /* cursor: pointer; */
    transition: 2s;
}
.wall3 h1
{
    position: absolute;
    top: 85%;
    left: 40%;
    color: rgba(255, 255, 255, 0.26);
    font-size: 3vh;
    outline: 1px solid rgba(255, 255, 255, 0.123);
    padding: 2px;

}
.wall.wall4
{
    /* ЛЕВО */
    /* background: radial-gradient(#1f1f1f, #000000); */
    transform: translate3d(-500px, 0px, 100px) rotateY(90deg) rotateZ(0deg);
    transition: 0.2s;
}

.wall.wall4 .wallcontent4
{

    position: absolute;
    top: 10%;
    left: 50%;
    width: 70%;
    height: 70%;
    display: block;
    border-left: rgba(255, 255, 255, 0.014) 0.6rem solid;
    border-bottom: rgba(255, 255, 255, 0.014) 1rem solid;
    border-right: rgba(128, 128, 128, 0) 2rem solid;
    border-top: rgba(128, 128, 128, 0) 2rem solid;
    /* z-index: 100; */

}
.wall.wall4 .wallcontent4 h1
{
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 0;
    left: -60%;
    font-size: 17rem;
    color: rgba(255, 255, 255, 0.007);
}
.wall.wallsex
{
    background: transparent;
    /* background: url(https://thumbs.gfycat.com/BlaringRashAmericanalligator-max-1mb.gif); */
    transform: translate3d(-100px, -100px,-1500px);
    border: none;
    outline: 1px solid rgb(0, 68, 255);
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    height: 50%;
}
.wallsex h1
{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.wallcontent5 h3
{
    position: absolute;
    top: 40%;
    left: 250px;
    font-size: 4em;
    color: rgba(0, 0, 0, 0);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}


@keyframes run
{
    0%
    {
        left: 100%;;
    }
    100%
    {
        left: -250%;
    }
}
@keyframes run2
{
    0%
    {
        left: 150%;;
    }
    100%
    {
        left: -230%;
    }
}

.scene .wall2 .wallcontent h3
{   
    margin-top: 1170px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.027);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    filter: blur(5px);
    transition: 1.2s;
}
.scene .wall2 .wallcontent h3:hover
{
    opacity: 0.9;
    filter: blur(1px);
}
.scene .wall4 .wallcontent4 h3
{   
    margin-top: 1700px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.027);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    /* opacity: 0.2; */
    filter: blur(5px);
    transition: 1.2s;
}
.scene .wall4 .wallcontent4 h3:hover
{
    opacity: 0.9;
    filter: blur(1px);
}
/* WALLS__________________ */

.buttons
{
    /* outline: 1px solid rgba(229, 255, 0, 0.267); */
    position: absolute;
    /* position: relative; */
    bottom: 12%;
    left: 25%;
    width: 30%;
    height: 10%;
    /* background-color: rgba(197, 0, 197, 0.027); */
    /*flex-direction: column;*/
    display: flex;
    align-items: center;
    /* transform: translateX(300px); */
    transform: translate3d(0px, 0px, -300px);
    transform-style: preserve-3d;
    transition: 1s;      
}

.button
{
    /* font-size: 2vw; */
    right: -90%;
    width: 30%;
    padding: 5px;
    color: rgba(255, 255, 255, 0.575);
    font-size: 3vw;
    /* background-color: rgba(255, 255, 255, 0.247); */
    border-radius: 8px;
    transition: 1s;
    background: linear-gradient(
      175deg,
      rgba(255,255,255,0.8) 0%,
      rgba(255,255,255,0.6) 5%,
      rgba(255,255,255,0.1) 50%,
      rgba(0,0,0,0.0) 50%,
      rgba(0,0,0,0.0) 100%
    ); /* W3C */
    border-color: rgba(255, 255, 255, 0.4);
    border-image: none;
    border-style: inset;
    border-width: 3px;
    cursor: pointer;
    /* text-shadow: 0 0 7px rgb(255, 157, 214); */
    /* -webkit-text-stroke: 2px rgb(255, 0, 221); */
}

.button:hover 
{
    color: rgba(255, 255, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset,
      0 0 5px 2px rgba(255, 255, 255, 0.75),
      0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
      transform: rotateY(20deg);
      
}


.button-gifon:hover
{
    box-shadow: 0 0 2px rgb(25, 114, 248),
    0 0 5px rgb(25, 114, 248),
    0 0 12px rgb(25, 114, 248),
    0 0 22px rgb(25, 114, 248),
    0 0 42px rgb(25, 114, 248)
    ;
    transform: translateZ(610px) scale(0.9);
    border: solid 3px rgb(255, 255, 255);
    cursor: pointer;
}

.button-gifon:hover img
{
    animation: animate 10s linear infinite;
}


.button2
{
    position: absolute;
    top: -15%;
    left: 0%;
    color: rgba(255, 255, 255, 0.575);
   padding: 15px;
    z-index: 12;
    font-size: 4rem;
    border-radius: 15px;
    transition: 1s;
    transform: translate3d(350px,-600px, 200px) rotateX(-40deg) scale(0.6);
    background: linear-gradient(
      175deg,
      rgba(255,255,255,0.8) 0%,
      rgba(255,255,255,0.6) 5%,
      rgba(255,255,255,0.1) 50%,
      rgba(0,0,0,0.0) 50%,
      rgba(0,0,0,0.0) 100%
    ); /* W3C */
    border-color: rgba(255, 255, 255, 0.4);
    border-image: none;
    border-style: inset;
    border-width: 3px;
    cursor: pointer;
    opacity: 0;
    /* display: none;      */
}
/* .button2.btn2on
{
    opacity: 1;
} */
.button2:hover 
{
    /* right: -100%; */
    color: rgba(255, 255, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset,
      0 0 5px 2px rgba(255, 255, 255, 0.75),
      0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
      transform: translate3d(350px,-600px, 200px) rotateX(-44deg) scale(0.6);
      
}
.button-startleft
{
    position: absolute;
    bottom: 6%;
  padding: 15px;
  color: rgba(255, 255, 255, 0.575);
    font-size: 4rem;
    border-radius: 15px;
    transition: 1s;
    transform: translate3d(0px, 0px, 800px) rotateY(-270deg) scale(0.8);
    background: linear-gradient(
      170deg,
      rgba(255,255,255,0.8) 0%,
      rgba(255,255,255,0.6) 20%,
      rgba(255,255,255,0.1) 50%,
      rgba(0,0,0,0.0) 50%,
      rgba(0,0,0,0.0) 100%
    ); /* W3C */
    border-color: rgba(255, 255, 255, 0.4);
    border-image: none;
    border-style: inset;
    border-width: 3px;
    cursor: pointer;
}
.button-startleft:hover
{
    color: rgba(255, 255, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset,
      0 0 5px 2px rgba(255, 255, 255, 0.75),
      0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
    transform: translate3d(0px, 0px, 800px) rotateY(-270deg) scale(0.8) rotateY(20deg);
}
.button-startmusic
{
    display: none;
  padding: 15px;
  color: rgba(255, 255, 255, 0.575);
    font-size: 4rem;
    border-radius: 15px;
    transition: 1s;
    transform: translate3d(-400px, 700px, 200px) rotateY(-180deg);
    background: linear-gradient(
      170deg,
      rgba(255,255,255,0.8) 0%,
      rgba(255,255,255,0.6) 20%,
      rgba(255,255,255,0.1) 50%,
      rgba(0,0,0,0.0) 50%,
      rgba(0,0,0,0.0) 100%
    ); /* W3C */
    border-color: rgba(255, 255, 255, 0.4);
    border-image: none;
    border-style: inset;
    border-width: 3px;
    cursor: pointer;
}
.button-startmusic:hover
{
    color: rgba(255, 255, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset,
      0 0 5px 2px rgba(255, 255, 255, 0.75),
      0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
      transform: translate3d(-400px, 700px, 200px) rotateY(-180deg);
}

.button-skyleft
{
    background: linear-gradient(
      to bottom,  
      rgba(180,180,180,0.8) 0%,
      rgba(180,180,180,0.5) 3%,
      rgba(180,180,180,0.1) 45%,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0.3) 28%,
      rgba(0,0,0,0.3) 60%,
      rgba(0,0,0,0.3) 65%,
      rgba(255,255,255,0.3) 90%,
      rgba(0,0,0,0.3) 95%,
      rgba(0,0,0,0.3) 100%
    ); /* W3C */
    border-color: rgba(0, 0, 0, 0.6);
    border-image: none;
    border-style: solid;
    border-width: 0px;
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset;
    font-size: 5rem;
    border-radius: 15px;
    transition: 1s;
    transform: translate3d(-1450px, 200px, 1100px) rotateY(90deg);
}
.button-startsex
{
    position: absolute;
    right: -50%;
    transition: 1s; 
    transform: translate3d(0px, -200px, -1000px) rotateX(0deg);
    cursor: pointer;
}
.button-startsex:hover
{
  color: rgba(255, 255, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset,
      0 0 5px 2px rgba(255, 255, 255, 0.75),
      0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
      transform: translate3d(0px, -200px, -1000px) rotateX(0deg);
}

.button3
{
  /* РАБОТА НАЗАД */
  position: absolute;
  right: 50%;
     bottom: 0%;
    font-size: 5rem;
    border-radius: 15px;
    transition: 1s;
    transform: translate3d(0px, -20px, 350px) rotateY(-90deg) scale(0.5);
    padding: 15px;
    color: rgba(255, 255, 255, 0.575);
    font-size: 4rem;
    border-radius: 15px;
    transition: 1s;
    background: linear-gradient(
      175deg,
      rgba(255,255,255,0.8) 0%,
      rgba(255,255,255,0.6) 5%,
      rgba(255,255,255,0.1) 50%,
      rgba(0,0,0,0.0) 50%,
      rgba(0,0,0,0.0) 100%
    ); /* W3C */
    border-color: rgba(255, 255, 255, 0.4);
    border-image: none;
    border-style: inset;
    border-width: 3px;
    display: none;
}
.button3:hover
{
    color: rgba(255, 255, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset,
      0 0 5px 2px rgba(255, 255, 255, 0.75),
      0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
}
.button-down
{
    font-size: 5rem;
    border-radius: 15px;
    transition: 1s;
    transform: translate3d(-600px, 800px, 500px) rotateY(-40deg);
    background: linear-gradient(
      170deg,
      rgba(255,255,255,0.8) 0%,
      rgba(255,255,255,0.6) 20%,
      rgba(255,255,255,0.1) 50%,
      rgba(0,0,0,0.0) 50%,
      rgba(0,0,0,0.0) 100%
    ); /* W3C */
    border-color: rgba(255, 255, 255, 0.4);
    border-image: none;
    border-style: inset;
    border-width: 3px;
}
.button-down:hover
{
    color: rgba(255, 255, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset,
      0 0 5px 2px rgba(255, 255, 255, 0.75),
      0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
      transform: translate3d(-600px, 800px, 500px) rotateY(-40deg) rotateY(20deg);
}
.button-downstart
{
    font-size: 5rem;
    border-radius: 15px;
    transition: 1s;
    transform: translate3d(100px, 1500px, -200px) rotateY(0deg);
    background: linear-gradient(
      170deg,
      rgba(255,255,255,0.8) 0%,
      rgba(255,255,255,0.6) 20%,
      rgba(255,255,255,0.1) 50%,
      rgba(0,0,0,0.0) 50%,
      rgba(0,0,0,0.0) 100%
    ); /* W3C */
    border-color: rgba(255, 255, 255, 0.4);
    border-image: none;
    border-style: inset;
    border-width: 3px;
    cursor: pointer;
}
.button-downstart:hover
{
    color: rgba(255, 255, 255, 0.99);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.99), 0px 0px 4px rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow:
      0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
      0 2px 6px rgba(0, 0, 0, 0.5),
      0 10px rgba(0, 0, 0, 0.05) inset,
      0 0 5px 2px rgba(255, 255, 255, 0.75),
      0 0 10px 2px rgba(255, 255, 255, 0.75) inset;
      transform: translate3d(100px, 1500px, -200px) rotateY(-10deg);
}

.button-gifon img
{
  position: relative;
  width: 58%;
  /* top: 20%; */
  /* left: 20%; */
  filter: invert(1);

}
.button-gifoff
{

  color: aliceblue;
  position: absolute;
  top: 100px;
  right: -1100px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: solid 1px white;
  background: rgba(64, 224, 208, 0);
}

.playtrack
{
  top: 530px;
  left: 20px;
  /* margin: 50px; */
  color: aliceblue;
  position: relative;
  width: 150px;
  height: 100px;
  background: rgba(0, 0, 0, 0.185);
  border-radius: 15px;
  border: solid 3px white;
  cursor: pointer;
  font-size: 20px;
}
.pausetrack
{
  font-size: 20px;
  top: 530px;
  right: -30px;
  color: aliceblue;
  position: relative;
  width: 150px;
  height: 100px;
  background: rgba(0, 0, 0, 0.185);
  border-radius: 15px;
  border: solid 3px white;
  z-index: 10;
  cursor: pointer;
}
#link img
{
    width: 50%;
    opacity: 0.5;
}
#link
{
    background-color: rgba(0, 0, 0, 0);
    bottom: 50px;
    left: 25%;
    position: absolute;
    border-radius: 50%;
    /* bottom: 1%; */
    margin: 1%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* padding: 5px; */
    /* right: 10; */
    /* margin-left: 20px; */
  /* transform: translateY(0px) translateX(0px) translateZ(300px); */
}

/* #show
{
    position: relative;
    bottom: 1%;
    margin: 1%;
  transform: translateY(0px) translateX(0px) translateZ(300px);
} */
#nice
{
    
    display: none;
    /* position: relative; */
    bottom: 1%;
    margin: 1%;
    /* right: 20%; */
  transform: translateY(0px) translateX(0px) translateZ(300px);
  /* opacity: 0; */
  /* visibility: hidden; */
}


/* #show:hover
{
  transform: translateZ(370px);
} */
#nice:hover
{
  transform: translateZ(370px);
  /* visibility: hidden; */
}
#link.btnoff
{
    display: none;
}
#show.btnoff
{
    display: none;
}
#nice.btnoff
{
    display: none;
}


/* BUTTONS___________________ */

@font-face
{
    font-family: 'Seagram TFB';
    src: url(shells/Seagram\ tfb.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face
{
    font-family: 'lato-light.ttf';
    src: url(/Lato-light/lato-light.ttf);

}

#rusfont
{
    font-family: 'lato-light.ttf';
    font-size: 1.8vw;
    font-weight: 500;
}


/* MENU_____________________ */


.trigger
{
    position: absolute;
    transform: translateZ(-499px);
    top: -650px;
    left: -1200px;
    width: 250px;
    height: 250px;
    outline: solid 2px rgb(0, 255, 0);
    cursor: pointer;
}


/* ELECTRO_________________ */
.user
{
    transform-style: preserve-3d;
    position: relative;
    /* position: relative; */
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
    width: 77%;
    height: 18%;
    /* padding-top: 20%; */
    
    /* width: 100px; */
    /* height: 100px; */
    top: 0;
    margin-top: -4%;
    transform: scale(0.9) translateX(200px);
    border: solid 3px white;
    cursor: pointer;
    border-radius: 50%;
    z-index: 20;
    transition: 0.5s;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.322) 40%,
        rgba(255, 255, 255, 0.185) 45%,
        rgba(255,255,255,0.1) 50%,
        rgba(0,0,0,0.0) 50%,
        rgba(0,0,0,0.0) 50%,
        rgba(0,0,0,0.0) 60%,
        rgba(25, 114, 248, 0.438) 100%
      ); 
      border-image: none;
      border-style: inset; 
}
.user:hover
{
    box-shadow: 0 0 2px rgb(25, 114, 248),
    0 0 5px rgb(25, 114, 248),
    0 0 12px rgb(25, 114, 248),
    0 0 22px rgb(25, 114, 248),
    0 0 42px rgb(25, 114, 248);
    transform: scale(0.9) translateX(200px);
    border: solid 3px rgb(255, 255, 255);
    cursor: pointer;
    
}
.pictures.opa
{
    filter: opacity(0);
    transform: translateZ(-200px) translateX(-400px);
}
.opa2
{
    filter: blur(10px);

}
.pictures
{


    position: absolute;
    height: 60%;
    bottom: 16vh;
    transform-style: preserve-3d;
    transform: translateZ(-200px);
    transition: 1s;
    /* background-color: blue; */
    left: 39%;
    /* width: 10px; */

}
.opener
{
    
    width: 80%;
    position: absolute;
    top: 20%;
    /* left: -35%; */
    right: 108%;
    height: 95%;
    transform: translateZ(143px);
    /* background-color: #003cff; */
    cursor: pointer;
    /* outline: 1px solid rgb(0, 38, 255); */
    user-select: none;
    transition: 0.5s;
    /* z-index: 1000; */

}
.avatar
{
    position: relative;
    height: 100%;
    float: right;
}

.name
{

    cursor: pointer;
    width: 500px;
    height: 150px;
    /* letter-spacing: 10px; */
    outline: 1px solid #636eff;
    transform-style: preserve-3d;
    backdrop-filter: blur(8px);
    background: #5a6a9e31;
    /* transform: translateZ(-300px) translateY(100px); */
    right: 100px;
    top: 0px;
    position: absolute;
    z-index: 2;
    font-family: 'Enchanted Land';
    color: rgb(255, 255, 255);
    font-size: 7rem;
    text-align: center;
    scale: 100%;
    transition: 0.5s;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #003cff, 0 0 40px #003cff, 0 0 50px #003cff, 0 0 60px #003cff, 0 0 70px #003cff;

}

.name.nameoff
{
    display: none;
}

.name h1
{

    /* top: -110px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.4rem;
}
@font-face
{
  font-family: 'Enchanted Land';
  src: url('enchanted_land/Enchanted\ Land.otf'); 
}
@media screen and (max-width: 1100px)
{
    .name
    {
        font-size: 5rem;
        right: 530px;
        background: none;
        width: 300px;
        /* outline: none; */
        backdrop-filter: none;
    }
    .pictures
    {
        /* transform: translateZ(-200px)cale(0.9); */
        left: 55%;
        bottom: 16vh;
        transform-style: preserve-3d;
    }
    .menu
    {
        background-color: red;
    }
    .poseselect
    {

    position: absolute;
    width: 25%;
    padding-top: 25%;
    top: 45%;
    right: 10%;
    transform-style: preserve-3d;
    transform: rotateY(-90deg);
    transition: 1s;
    backface-visibility: hidden;
    /* filter: blur(10px) brightness(0.2) grayscale(1); */

    }
    .faceselect
    {
    position: absolute;
    width: 100px;
    width: 25%;
    padding-top: 25%;
    top: 45%;
    right: 10%;
    transform-style: preserve-3d;
    transform: rotateY(-90deg);
    transition: 1s;
    backface-visibility: hidden;


    }

    .cardselect
    {
    position: absolute;
    width: 25%;
    padding-top: 25%;
    top: 45%;
    right: 10%;
    transform-style: preserve-3d;
    transform: rotateY(-90deg);
    transition: 1s;
    backface-visibility: hidden;

    
    }

    .poseselect.active400
    {


    top: 65%;
    right: 40%;
    transform: rotateY(0deg);

    }
    .faceselect.active401
    {
 
    right: 25%;
    transform: rotateY(0deg);

    }
    .cardselect.active402
    {

    right: 53%;
    transform: rotateY(0deg);

    }

    #link
    {
        left: 38%;
    transform: translateY(50px) translateX(-85px) translateZ(300px);
    /* display: none; */
    }

    #nice
    {
        left: 30%;
    transform: translateY(50px) translateX(-40px) translateZ(300px) scale(0.9);
    /* display: none; */

    }
    #link:hover
    {
        left: 38%;
    transform: translateY(50px) translateX(-85px) translateZ(320px) scale(0.9);
    /* display: none; */
    }

    #nice:hover
    {
        left: 30%;
    transform: translateY(50px) translateX(-40px) translateZ(320px) scale(0.9);
    /* display: none; */

    }

    .button-startleft
{

    transform: translate3d(-190px, 0px, 700px) rotateY(-270deg) scale(0.8);

}
.button-startleft:hover
{

    transform: translate3d(-90px, 0px, 700px) rotateY(-270deg) scale(0.8) rotateY(20deg);
}

    .blurscene .post
    {
    transform: translateX(0px);
    width: 80%;
    }
    .chatspace.chaton
    {
        width: 50%;
        height: 50%;
    }


    

}

@media screen and (max-width: 900px)
{
    .pictures
    {
        left: 0;
        margin-left: 400px;
        

    }
    .menu
    {
        background-color: orange;
    }
    
}
@media screen and (max-width: 800px)
{
    .scene
    {
        background-color: #003cff4b;
    }
    .pictures
    {
        margin-left: 350px;
        transform: scale(0.9) translateZ(-100px);
        
    }
    .buttons
    {

        left: 29%;
    }
    .menu
    {
        background-color: rgb(255, 230, 0);
    }

}


.opener.openerfoto
{
    transform:  translateZ(0px);
    opacity: 0.5;

}

.opener.active1111
{

    animation: openerOut 0.1s linear forwards;

}
.opener.active1112
{
    animation: none;

}
/* OPENER______________________________________ */
.button-gifon
{
    top: 12px;
    right: 230px;
  color: rgb(255, 255, 255);
}
/* GIFON______________________________________ */

.person
{

    text-align: center;
    right: 175px;

}

.person.active10
{
    

    transform-style: preserve-3d;
    position: relative;
    /* top: -1%; */
    /* right: 150px; */
    background-color: #003cffd0;
    text-align: center;
    /* border-radius: 20px; */
    /* border: 0px solid #ffffff; */
    /* width: 150%; */
    /* height: 10%; */
    display: flex;
    transition: 0.5s;
    /* transform: translateZ(400px); */
}


.favorite
{
    transform-style: preserve-3d;
    position: relative;
    right: 160px;
     text-align: center;
    transition: 0.5s;  
    /* transform: translateZ(1px); */

}


.favorite iframe
{

    position: absolute;
    width: 0px;
    height: 0px;
    transition: 0.5s;
    margin: 0;
    padding: 0;
    transition: 0.2s;
    transition-delay: 0s;
    display: none;   
     
}
.favorite.active2 iframe
{
    position: absolute;  
    width: 384px;
    height: 216px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255); 
    display: block;
    
}

.v1 
{
    transform: translateZ(111px);
    /* transform-style: preserve-3d; */
    top: 0%;
    left: -400px;
    /* top: -200px; */
    /* left: 120px; */
    position: absolute;
    transition: 0.5s;
    
}

.favorite #v1
{
    transition-delay: 0s;
    
}
.favorite #v2
{
    transition-delay: 0s;
}
.favorite #v3
{
    transition-delay: 0s;
}

.favorite.active2 #v1
{
    transition-delay: 0.2s;
}
.favorite.active2 #v2
{
    transition-delay: 0.4s;
}
.favorite.active2 #v3
{
    transition-delay: 0.6s;
}



.fav
{
    position: relative;
    width: 70%;
    transform: scale(1);
    filter: invert(1);
    cursor: pointer;
    transition: 0.5s;
}
/* .favorite:hover .fav
{
    animation: animate 10s infinite linear;
} */

#vk_playlist_-2000990070_13990070
        {
            top: 50px;
            left: 120px;
            position: absolute;
            display: none;

        }
.favorite.active2 #vk_playlist_-2000990070_13990070
{
    /* display: block; */
    display: none;
}

/* FAVORITE______________ */

.work
{
    align-items: center;
    justify-content: center;
    right: 160px;
    /* height: ; */
}


.work img
{
    position: relative;
    width: 50%;
    /* top: 13%; */
    /* left: 25%; */
    filter: invert(1);
    cursor: pointer;
}
.work:hover img

{
    animation: animate 10s linear infinite;
}

/* WORK_____________ */

.star
{
    right: 175px;
    /* text-align: center; */

}


.star.active3
{
    
    position: absolute;
    background: rgba(0, 0, 0, 0.363);
    text-align: center;
    border-radius: 330px;
    right: 100px;
    top: -190px;
    box-shadow: 0 0 3px 0 rgb(255, 255, 255);
    border: 1px solid #ffffff;
    width: 330px;
    height: 330px;
}

/* STAR___________________ */

.music
{
    top: -12px;
    right: 230px;
}

.music .m
{
    position: absolute;
    width: 50%;
    /* top: 20%; */
    /* left: 25%; */
    filter: invert(1);
    cursor: pointer;
    z-index: 200;
    transform: translateZ(1px);
}
.music:hover img
{
    animation: animate 10s linear infinite;
    cursor: pointer;
}

/* MUSIC________________ */


@keyframes Press
{
    0%
    {
        transform: scale(1) translateZ(500px);
    }
    50%
    {
        transform: scale(1) translateZ(100px);
    }
    0%
    {
        transform: scale(1) translateZ(500px);
    }
}


.chatspace
{
    top: 2%;
    left: 0;
    position: absolute;
    perspective: 1500px;
    width: 40%;
    height: 50%;
    background-color: rgba(0, 76, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;

}
.chatspace.chaton
{
    opacity: 1;

}
.chat
{
    transform-origin: 0% 0%;
    transform-style: preserve-3d;
    transform: translateX(-200px) rotateY(65deg) translateZ(200px);
    position: absolute;
    width: 50%;
    height: 70%;
    outline: 1px solid white;
    overflow: hidden;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.787);
    transition: 0.5s;
    display: flex;
    justify-content: center;
}    
.chat:hover
{
    transform: rotateY(0deg) translateZ(300px);
}
.ch
{
    position: relative;
    top: -18%;
    height: 100%;
    width: 100%;
}
.chatiframe
{
    transition: 0.3s;
    width: 45%;
    height: 0%;
    position: absolute;
    top: 0%;
    left: 12%;
    outline: 1px solid rgba(255, 255, 255, 0.52);
    border-radius: 13px;
    backdrop-filter: blur(10px);

}
.chatiframe.chaton
{
    /* display: block; */
    height: 60%;
    width: 45%;
    
}
.chatiframe iframe
{
    position: relative;
    width: 100%;
    height: 100%;
    /* outline: 1px white solid; */
}

/* .chatportal
{
    width: 50%;
    height: 70%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #003cff;
    outline: 1px solid red;
    cursor: pointer;
} */

#exit
{
    filter: invert(1);
    width: 80px;

    position: absolute;
    top: 22%;
    left: 5%;
    /* float: right; */    width: 19%;
    height: 12%;

    cursor: pointer;

}
#exit:hover
{
    text-shadow: 0 0 2px tomato,
    /* 0 0 5px tomato, */
    0 0 10px tomato,
    0 0 12px tomato,
    0 0 17px tomato;
    box-shadow: 0 0 2px tomato,
    0 0 30px tomato;
    background-color: rgba(255, 99, 71, 0);
}


.petportal
{
    position: absolute;
    height: 70%;
    width: 40%;
    top: 15%;
    left: 55%;
    transition: 0.2s;
    /* outline: 1px solid rgb(0, 60, 255); */
    /* mix-blend-mode: screen; */
    /* mix-blend-mode: color-dodge; */
}
.petportal.ppoff
{
    width: 0;
}


@keyframes loader
{
    to
    {
        transform: rotate(360deg);
    }
}
