.GrandGriffonGlow
{
    position: absolute; width: 100vw; height: 99vh; background-color: black; top: 0; left: 0;
    overflow: hidden;
    display: block;
    
}
.garciaava 
{
    position: absolute; width: 100%; height: 90%;
    display: flex; justify-content: center; align-items: center;
}
.garciaava img 
{
    position: relative; width: 25%;
    border-radius: 100%;
    border: 100%; border: 2px solid rgb(255, 241, 191);
    filter: brightness(0.7);

}

h1 
    {
        position: relative; color: white; 
        text-shadow: 0 0 5px yellow,
        0 0 10px yellow,
        0 0 15px yellow;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100; font-size: 25px;
        margin: 10px;

    }
    .selectors 
    {
        position: relative; width: 50%; height: 40px; background-color: rgba(128, 128, 128, 0); display: flex;
    }
    .sel 
    {
        position: relative; width: 50%; height: auto; background-color: rgb(36, 36, 36); margin: 0px;
        padding: 0px; 
        /* border: 2px solid rgb(255, 217, 147);   */
        text-shadow: 0 0 10px orange;
        margin-right: 10px; padding-left: 10px;
        color: white; font-size: 23px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        cursor: pointer;
    }

    .table, .marmeladbox, .redirect 
    {
        /* position: absolute;  */
        width: 98%; height: 0%; margin: 10px; background: #00273e00;
        border: 1px solid rgba(247, 247, 247, 0.242);
        display: flex; 
        perspective: 1900px;
        overflow: hidden; 
    }
    .marmeladbox 
    {
        align-items: center;
    }
    .redirect 
    {
        background-color: rgb(0, 0, 0); width: 100%; 
        overflow: hidden;
    }
    .info {
        display: none;
      }
      .info.active {
        display: flex;
        height: 50%;
          background-color: black;
      }
    /* .marmeladbox.active 
    {
        height: 50%;
    }
    .table.active 
    {
        height: 90%;
    } */

    .shugar 
    {
        position: relative; 
        /* background: linear-gradient(rgba(255, 255, 255, 0.571), rgba(255, 255, 255, 0.055)); */
        background: linear-gradient(rgba(255, 255, 255, 0.228), rgba(255, 255, 255, 0.676));
        box-shadow: 0 0 20px black;
        /* background-color: rgba(240, 248, 255, 0.418);  */
        width: 100%; 
        height: 95%; 
        /* min-height: 300px; */
        margin: 10px;
        padding: 0px; border: 2px solid rgb(238, 200, 32);  border-radius: 5px;
        cursor: pointer;
        transform-style: preserve-3d; transition: 0.3s;
        /* right: 0; */
        /* left: 20px; */
        /* margin-left: 10px; */
    }
    .shugar h1 
    {
        position: relative; color: white; font-size: 20px;
    }
    .shugar:hover 
    {
        transform: translateZ(30px);
    }
    p 
    {
        color: white; 
        padding: 10px;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .candy_wrapper
    {
        position: absolute; width: 100%; height: 85%; background: #f9f9f9; top: 15%; left: 0;
        transition: 0.5s;
        filter: invert(1);
    }
    .candy_wrapper:hover 
    {
        opacity: 0;
        /* top: 50%; */
    }
    .candy_wrapper img 
    {
        position: relative; width: 100%;
    }
    .marmelad
    {
        position: relative; 
        /* background: linear-gradient(rgba(255, 255, 255, 0.571), rgba(255, 255, 255, 0.055)); */
        /* background: linear-gradient(rgba(255, 255, 255, 0.228), rgba(255, 255, 255, 0.676)); */
        background-color: #ffffff;
        box-shadow: 0 0 20px black;
        /* background-color: rgba(240, 248, 255, 0.418);  */
        width: 300px; height: 90%; 
        /* min-height: 400px; */
        margin: 10px;
        padding: 0px; border: 2px solid rgb(255, 217, 147);  
        box-shadow: 0 0 10px orange;
        border-radius: 1px;
        cursor: pointer;
        transform-style: preserve-3d; transition: 0.3s;
        overflow: hidden;
        display: flex; flex-direction: column; justify-content: center;
        align-items: center;
        /* transform: rotateY(15deg); */
        /* right: 0; */
        /* left: 20px; */
        /* margin-left: 10px; */
    }
    .marmelad:hover .bye 
    {
        
        opacity: 1;
    }
    .marmelad h1 
    {
        position: relative;
        font-size: 20px;
        z-index: 2;
        background-color: #0090ea00;
        color: rgb(0, 194, 228);
        width: 100%;
        left: 0; margin: 0;
        padding: 0px;
        top: -25px;
        font-weight: 500;
        /* margin-top: 20px; */
        text-align: center;
        text-shadow: none;

    }
    .marmelad h2
    {
        position: relative;
        font-size: 20px;
        z-index: 2;
        color: rgba(0, 0, 0, 0.655);
        text-align: center;
        width: 100%;
        top: 20px;
        left: 0; margin: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }
    .marmelad img 
    {
        position: relative; 
        width: 70%;
        height: auto;
        /* margin: 10px; */
        /* margin-bottom: 20px; */
        top: 0px;
        /* outline: 1px solid rgba(0, 0, 0, 0.272); */
        border: 1px solid rgba(0, 0, 0, 0.276); padding: 15px;
        /* box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.696); */
        /* height: 120px; */
        /* top: 35px; */
        /* padding: 30px; */
        /* padding-bottom: 0px; */
        /* opacity: 0.5; */
        /* display: none; */
    }
    .playbutton
    {
        position: relative;
        /* position: absolute; */
        background-color: rgba(0, 255, 255, 0);
        margin-right: 3px;
        /* margin: 3px; */
        width: 60px; height: 60px;
    }
    .playbutton img 
    {
        position: relative; width: 100%;
        top: 0;left: 0;margin: 0;padding: 0;
        border: none;
        
    }
    .stopbutton
    {
        position: relative;
        top: 0;
        margin-left: 3px;
        width: 60px; height: 60px;
    }
    .stopbutton img 
    {
        position: relative; width: 100%;
        top: 0;left: 0;margin: 0;padding: 0;
        outline: none;
        border: none;
    }
    .mcontrols
    {
        position: absolute; width: 100%; height: 50px;
        display: flex; flex-direction: row;
        background-color: rgba(255, 255, 255, 0); 
        /* outline: 2px solid rgba(0, 0, 0, 0.434); */
        top: 200px;
        justify-content:center;
    }
    .bye 
    {
        /* display: relative; */
        position: absolute;
        width: 120px; height: auto;
        padding: 10px;
        top: 150px; left: 60px;
        background-color: rgb(0, 190, 0);
        text-align: center;
        /* top: 20px; */
        color: white;
        opacity: 0;
        transition: 0.3s;
    }
    .redirect 
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .redirect p 
    {
        padding: 20px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.692);
    }
    .redirect a 
    {
        color: #d400ff;
        text-shadow: 0 0 5px #d400ff,
        0 0 10px #d400ff;
        text-decoration: none;
    }
    .redirect m 
    {
        text-shadow: 0 0 5px yellow,
        0 0 10px yellow,
        0 0 15px yellow;
    }

   @media (max-width: 1000px) 
    {
        .garciaava img  
        {
            width: 90%;
        }
        .info.active 
        {
            display: block;
            height: 80%;
            overflow-y: scroll;
        }
        
        .marmelad
        {
            position: relative; 
            width: 80%; 
            height: 70%; 
            margin-bottom: 40px;
            margin-left: 10%;
        }
        .selectors 
            {
            position: relative; width: 100%; height: 40px; 
            background-color: rgba(128, 128, 128, 0); 
            display: flex;
            }
            .mcontrols 
            {
                top: 270px;
            }
            .shugar 
            {
                width: 90%;
                height: 60%; 
                min-height: 300px;
            }
            .marmelad h1 
            {
                font-weight: 500;
            }
            .bye 
                {
        /* display: relative; */
        position: absolute;
        width: 120px; height: auto;
        padding: 10px;
        top: 48%; left: 25%;
        background-color: rgb(0, 190, 0);
        text-align: center;
        /* top: 20px; */
        color: white;
        opacity: 0;
        transition: 0.3s;
                }
                .marmelad img 
                {
                    width: 80%;
                }
    }

    .marmeladbox::-webkit-scrollbar {
        width: 15px; /* Ширина скроллбара */
      }
      
      .marmeladbox::-webkit-scrollbar-track {
        background: #000000; /* Цвет фона трека */
      }
      
      .marmeladbox::-webkit-scrollbar-thumb {
        background: #ae00ff; /* Цвет ползунка */
      }
      .info::-webkit-scrollbar {
        width: 15px; /* Ширина скроллбара */
      }
      
      .info::-webkit-scrollbar-track {
        background: #000000; /* Цвет фона трека */
      }
      
      .info::-webkit-scrollbar-thumb {
        background: #ae00ff; /* Цвет ползунка */
      }


