/* body
{
    background: url(https://image.freepik.com/free-photo/modern-futuristic-sci-fi-background_35913-2152.jpg);
    background-size: cover;
    

} */
.spacesocket
{
    position: absolute;
    perspective: 1000px;
    top: 0;
    height: 0;
    width: 90%;
    height: 90%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.place
{
    position: absolute;
    width: 80%;
    height: 100%;
    /* top: 1%; */
    /* left: 1%; */
    transform-style: preserve-3d;
    
    
}
#message-container
{
    top: 10%;
    left: 10%;
    transform-style: preserve-3d;
    /* transform: rotateY(30deg); */
    position: absolute;
    width: 65%;
    height: 50%;
    /* background-color: rgba(131, 131, 131, 0.212); */
    font-size: 3vw;
    color: rgb(255, 247, 255);
    text-shadow: 0 0 2px white,
                0 0 4px white,
                0 0 8px white,
                0 0 20px white,
                0 0 35px white    ;
    animation: fly 10s linear infinite;
    
    border-radius: 9px;
    padding: 50px;
    outline: 1px solid white;
    overflow-y: hidden;
    transition: 0.5s;
    box-shadow: 0 0 5px white,
                /* 0 0 4px white, */
                /* 0 0 8px white, */
                /* 0 0 20px white, */
                0 0 30px rgba(255, 255, 255, 0.26);
                backdrop-filter: blur(6px);
            background-color: rgba(0, 0, 0, 0.24);
    /* z-index: 100; */
    /* overflow-x: hidden; */
}
#message-container:hover
{
    box-shadow: 0 0 5px white,
                /* 0 0 4px white, */
                /* 0 0 8px white, */
                /* 0 0 20px white, */
                0 0 35px white  

}
@keyframes fly
{
    0%
    {
        transform: translateY(0) translateZ(-50px) rotateY(20deg);
        
    }
    50%
    {
        transform: translateY(-20px) translateZ(0px) rotateY(10deg);
    }
    100%
    {
        transform: translateY(0) translateZ(-50px) rotateY(20deg);
    }
}
@keyframes flyscreen
{
    0%
    {
        transform: translateY(0) translateZ(-45px) rotateY(20deg);
        
    }
    50%
    {
        transform: translateY(-20px) translateZ(5px) rotateY(10deg);
    }
    100%
    {
        transform: translateY(0) translateZ(-45px) rotateY(20deg);
    }
}
@keyframes flicker
{
    0%
    {
        opacity: 1;
        
    }
    100%
    {
        opacity: 0.6;
        
    }
}
#message-input
{
    position: absolute;
    transform-style: preserve-3d;
    bottom: 1%;
    width: 50%;
    height: 10%;
    outline: 2px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.541);
    color: tomato;
    text-shadow: 0 0 2px rgb(255, 255, 255),
    /* 0 0 5px tomato, */
    /* 0 0 10px tomato, */
    0 0 12px tomato,
    0 0 17px tomato;
    border-radius: 12px
    ;
    /* backdrop-filter: blur(10px); */
    font-size: 5vh;
    font-family: 'Seagram TFB';
    transform: rotateY(20deg);
    left: 10%;
}
#send-button
{
    transform-style: preserve-3d;
    position: absolute;
    bottom: 2%;
    right: 15%;
    /* float: right; */
    width: 19%;
    height: 12%;
    background-color: rgba(255, 255, 255, 0.048);
    color: white;
    font-size: 3.5vh;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: 0.5s;
    /* transform: rotateY(-20deg); */
}
#send-button:hover
{
    text-shadow: 0 0 2px tomato,
    /* 0 0 5px tomato, */
    0 0 10px tomato,
    0 0 12px tomato,
    0 0 17px tomato;
    box-shadow: 0 0 2px tomato,
    0 0 30px tomato;
    background-color: rgba(255, 99, 71, 0);
}
form
{
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    
    
    /* outline: 1px solid red; */
}
@font-face
{
    font-family: 'Seagram TFB';
    src: url(Seagram\ tfb.ttf);
    font-style: normal;
    font-weight: 100;
}
/* .screen
{
    top: 10%;
    left: 10%;
    transform-style: preserve-3d;
    position: absolute;
    width: 65%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.445);
    animation: flicker 0.1s linear infinite;


} */
