.igame
{
  position: absolute; width: 1000px; height: 600px; overflow-x: hidden; overflow-y: hidden; left: -290px;
}
.bg 
{
    position: absolute; width: 100%; 
    /* background-image: url(https://i.pinimg.com/originals/a9/4a/ee/a94aee835e16cff4f14c83dac8ffbe10.gif); */
    background-size: cover;
}
.space
{
    position: absolute;
    background-color: black;
    width: 100%; height: 100%;
    top: 0; left: 0;
    overflow: hidden; 
    perspective: 1800px;
    user-select: none;
}
.place
{
    position: absolute; transform-style: preserve-3d;
    width: 98%; height: 98%;
    top: 1%; left: 1%;
    display: flex;
    background-color: rgba(0, 200, 255, 0); border-radius: 4px;
    /* outline: 2px rgba(255, 255, 255, 0.307) solid; */
}
.name
{
    position: absolute; transition: 0s; overflow: hidden; cursor: pointer; z-index: 100;
    width: 95%; height: 17%;
    top: 2%; left: 2%;
    outline: 2px rgba(255, 255, 255, 0.492) solid; 
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 14vh;
    text-align: center;
    font-family: 'Enchanted Land';
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff1e00, 0 0 40px #ff1e00, 0 0 50px #ff1e00, 0 0 60px #ff1e00, 0 0 70px #ff1e00; */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff7b00, 0 0 40px #ff7b00, 0 0 50px #ff1e00, 0 0 60px #ff1e00, 0 0 70px #ff1e00;
    letter-spacing: 5px;
    backdrop-filter: blur(12px);  user-select: none;
    /* border-radius: 200px 4px 300px 4px; */
    border-radius: 4px;

}
.name.full
{
    height: 97%;
    background-color: rgba(0, 0, 0, 0.92); backdrop-filter: none; transition: 0s;
}
.ava
{
    position: absolute; width: 28%; left: 3%; top: 20%; opacity: 0; transition: 0s;
    
}
.ava.full
{
    opacity: 1;
}
.legend
{
    position: absolute; display: none; overflow: hidden;
    width: 60%; height: 70%; outline: 1px solid rgba(255, 255, 255, 0.099); top: 20%; right: 7%;
}
.legend.full
{
    display: block;
}
.legend h1
{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-family:monospace;
    text-shadow: none;
    letter-spacing: 5px;
}
.legend a
{
    color: rgb(0, 255, 204);
}
.avatar
{
    /* display: none; */
    position: relative; 
    width: 300px; height: 70%;
    top: 22%; left: 2.2%;
    background-color: rgba(255, 255, 0, 0);
    outline: 2px rgba(255, 255, 255, 0.428) solid;
    /* filter: url(glow); */
    backdrop-filter: blur(12px);
    border-radius: 4px; user-select: none; transition: 0.666s; overflow: hidden;
    box-shadow:  0 0 10px rgba(255, 255, 255, 0.533);
    
}
.avatar:hover, .booty:hover, .glow:hover  
{
    outline: 2px rgba(255, 230, 192, 0.658) solid;
    box-shadow:  
    0 0 5px rgb(255, 84, 11),
    /* 0 0 10px rgb(255, 84, 11), */
    0 0 15px rgb(255, 100, 33);
}
.avatar.full
{
    width: 40%;
}
.avatar img
{
    position: absolute; transition: 0.6s; cursor: pointer;
    height: 100%;
}
/* .avatar img:hover
{
    filter: url(#glow);
} */

.booty
{
    position: relative;
    
    /* background-color: rgba(0, 0, 0, 0.348); */
    outline:  3px rgba(255, 255, 255, 0.341) solid;
    top: 22%; left: 5%;
    display: block;
    width: 37%; height: 70%;
    backdrop-filter: blur(12px);
    border-radius: 4px  4px 4px 4px;
    overflow: hidden; transition: 0s;
}
.booty.full
{
    width: 50%;
}
.booty.full .image
{
    height: auto; width: 100%; top: -25%;
}
.booty.flip
{
    transform: rotateY(180deg);
}
.view
{
    position: absolute; z-index: 2; transition: 0.666s;
    width: 100%; right: -100%;
}
.cover.flip
{
    transform: rotateY(180deg);

}
.view.full
{
    right: -20%;
}
.view img
{
    width: 100%;
    
}
.tyty
{
    position: relative;
    width: 90%;
    height: 10%;
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.414); */
    outline: 2px rgba(255, 255, 255, 0.307) solid;
    top: 4%; margin-left: 3%; 
    font-family: monospace;
    /* vertical-align: middle; */
    border-radius: 4px;
    overflow: hidden;
    
}
.tyty h1
{
    position: inherit; 
    /* top: 22%; */
    text-align: center; font-size: 3vh; color: white; transition: 0.7s; user-select: none; cursor: pointer; outline: 1px solid rgba(255, 0, 0, 0);
     width: 55%; left: 10%;

}
.tyty:hover
{
    /* background-color: rgba(225, 154, 0, 0.217); */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff1e00, 0 0 40px #ff1e00, 0 0 50px #ff1e00, 0 0 60px #ff1e00, 0 0 70px #ff1e00;
    /* box-shadow: 0 0 7px #fff, 0 0 10px #ff1e00, 0 0 30px #ff1e00b4;  */
}
.song_story
{
    position: absolute; width: 100%; height: 100%; top: 0; left: 0; overflow-y: scroll;
}
.song_image
{
    position: relative; 
    width: 90%; height: 70%; outline: 1px solid rgba(255, 255, 255, 0.498); top: 8%; left: 3%; border-radius: 4px; overflow: hidden;
    /* overflow-y: scroll; */
}
.song_image img
{
    position: relative; width: 120%; left: 0%; top: -10%; transition: 0.5s;
}
.song_image h1
{
    font-size: 1.2rem; position: absolute; top: 3%; left: 3%; color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 400;
}
.image.full
{
    left: 100%;
}
.play
{
    position: relative;
    top: 15%; left: 1%;
    height: 70%; width: auto;
    cursor: pointer;
    /* background-color: rgb(255, 255, 0); */
    /* background-size: cover; */
    filter: invert(1);
}
.play img
{
    position: relative; height: 100%;
}
.stop img
{
    position: relative; height: 100%;
}
.stop
{
    position: relative;
    left: 4%;top: 15%;
    /* background-color: rgba(0, 255, 200, 0); */
    /* background-image: url(/stop2.png); */
    height: 70%; width: auto;
    cursor: pointer;
    /* background-size: cover; */
    filter: invert(1);

}

.secret
{
    position: absolute;
    /* display: none; */
    width: 50%; height: 70%; transition: 0.7s; z-index: 3;
    background-color: #0000006c; backdrop-filter: blur(12px); outline: 1px solid white; color: white; 
    font-size: 3rem;
    top: 22%; right: -60%;
}
.secret.on
{
    right: 15%;
    /* display: block; */
}
.l
{
    position: relative; display: block;
    width: 94%; height: 90%; top: 0%; left: 3%;
    background-color: #ff1e0000; user-select: none; font-family:monospace
}
.l h1
{
    position: relative; font-size: 2.5rem;
    text-shadow:
    0 0 7px white, 
    0 0 15px red,
    0 0 25px red;
}
.l h2
{
    position: absolute; font-size: 2rem; bottom: 4%;
}
.l img
{
    position: absolute; width: 40%; height: auto; right: 0%; top: 5%;
}
.close
{
    position: absolute; width: 5%; height: 7%;
    background-size: cover; filter: invert(1); cursor: pointer;
    background-image: url(https://www.pinclipart.com/picdir/middle/138-1385364_free-arrows-icons-back-icon-svg-free-clipart.png);
}
.vid
{
    position: absolute; 
    height: 125%; top: 0%; left: -5%; 
    transition: 1s;
}


.message
{
    position: absolute; bottom: -90%; right: 0; background-color: #000000c1; outline: 1px solid white; width: 80%; height: 85%; 
    color: white; padding-left: 5%; padding-top: 5%; font-size: 1.6vw; overflow-y: scroll; overflow-x: hidden; opacity: 0; transition: 0.666s;
}
.message i
{
    /* text-shadow: 0 0 5px white, 0 0 10px rgb(255, 21, 0); */
    text-shadow: 0 0 5px #fff, 0 0 10px rgb(255, 179, 0), 0 0 20px #ff1e00, 0 0 30px #ff1e00; 
}

.merchendise
{
    position: absolute;
    width: 80%; height: 85%; background-color: #000000c9; opacity: 0; bottom: -90%; right: 0; overflow: hidden; transition: 0.666s; outline: 1px solid white;
}

.merchendise img
{
    width: 70%; height: auto; bottom: 0;
}
.diamond
{
    position: absolute; display: block;
    width: 80%; height: 85%; opacity: 0; bottom: -90%; right: 0; overflow:hidden; transition: 0.666s; outline: 1px solid white;
}
.diamond.full
{
    opacity: 1; bottom: 0;
} 
/* .diamond img
{
    position: relative;
    width: 100%; height: auto; bottom: 0;
} */
.twerk.full, .nudes.full, .find.full, .price.full, .merchendise.full, .message.full
{
    opacity: 1; bottom: 0%;
}

.price
{
    position: absolute;
    width: 100%; height: 85%; background-color: #000000c9; opacity: 0; bottom: -90%; right: 0; overflow: hidden; transition: 0.666s; outline: 1px solid white;
}
/* .price img
{
    width: 100%; height: auto; bottom: 0;
} */
.price iframe
{
    position: relative; width: 100%; height: 100%; z-index: 2;
}
.twerk
{
    position: absolute;
    width: 80%; height: 85%; background-color: #000000c9; opacity: 0; bottom: -90%; right: 0; overflow: hidden; transition: 0.666s; outline: 1px solid white;
}
.nudes
{
    position: absolute;
    width: 80%; height: 85%; background-color: #000000c9; opacity: 0; bottom: -90%; right: 0; overflow: hidden; transition: 0.666s; outline: 1px solid white;
}
.find
{
    position: absolute;
    width: 80%; height: 85%; background-color: #000000c9; opacity: 0; bottom: -90%; right: 0; overflow-y: scroll; transition: 0.666s; outline: 1px solid white;
}
.user
{
    display: flex;
    /* display: inline-block; */
     border-radius: 4px;
    position: absolute; background-color: rgba(255, 255, 0, 0); width: 0%; height: 7%; top: 0; z-index: 12;  top: 22%; left: 17.2%; transition: 0.666s;
}
.user.full
{
    width: 25%;
}

.icon
{
    position: relative;
    /* position: absolute; */
    width: 14%; height: auto; background-color: #00bbff00; top: 15%; left: 0%; z-index: 1;  display: none; 
}
.icon.on
{
    display: block;
}
.icon img
{
    width: 80%; filter: invert(1); cursor: pointer;
}
.r
{
   background-color: #ff1e0000; ;

}
.r img
{
    width: 80%;
}
.d
{
   background-color: #ff1e0000; 

}
.r img
{
    width: 80%;
}
.p
{
    background-color: #ff1e0000;
}
.p img
{
    width: 80%;
}
.t
{
    background-color: #ff1e0000; 
}
.t img
{
    width: 80%;
}
.n
{
    background-color: #ff1e0000; 
}
.n img
{
    width: 80%;
}
.f
{
    background-color: #ff1e0000;
}
.f img
{
    width: 80%;
}
.b img
{
    width: 80%;
}

.progress_bar
{
    position: relative; cursor: pointer;
    height: 1%; width: 90%; 
    
    background-color: rgba(255, 255, 255, 0); outline: 2px solid rgba(255, 255, 255, 0.176); border-radius: 10px; top: 3%;
    margin-bottom: 2%; left: 3%;
}
.progressed
{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px yellow, 0 0 15px red, 0 0 20px red;
    height: 100%; width: 0%;
    background-color: #ffffff;
    transition: all 0.2s;
}

.motivation
{
    transition: 0.5s; opacity: 1;
    position: absolute; width: 98%; height: 98%; top: 2%; right: -95%; outline: 1px solid rgba(255, 255, 255, 0.314); z-index: 5; background-color: rgba(205, 104, 50, 0.09);
}
.motivation.full
{
    width: 98%; height: 98%; right: 1%;
    opacity: 1;
}

.headphones
{
    position: absolute; outline: 2px solid rgba(255, 255, 255, 0.261); border-radius: 5px; padding: 1%;
    width: 2.5%; height: auto; 
    background-color: rgba(224, 3, 3, 0); right: 3%; top: 22%;  cursor: pointer; 
    /* display: none; */
}
.headphones.full
    {
        opacity: 0;
    }
.headphones img
{
    width: 100%; filter: invert(1);
}

.eye 
{
    position: absolute;
    width: 30px; height: 35px; left: 0;  opacity: 50%; margin-left: 1%;
}
.eye img
{
    position: relative; width: 100%;
}
.eye.off
{
    opacity: 0;
}
.inff
{
    position: absolute; width: 30px; height: 30px; background-color: #ff1e0000; top: 0; left: 0; margin: 5px; opacity: 50%;
}
.inff img
{
    position: absolute; width: 100%; height: auto; left: 0; 
}
.demotrack
{
    position: absolute; width: 25%; height: 66%; background-color: rgba(0, 0, 0, 0.858); 
    bottom: 12%; left: 62%; z-index: 200; outline: 2px solid gray; border-radius: 4px;
    transition: 0.3s; overflow: hidden;
    transform: scale(0);
     opacity: 0; 
    transform-style: preserve-3d;

}
.demotrack.full
{
    transform: scale(1);
     opacity: 1; z-index: 1;
}
.demo
{
    top: 33.5%; z-index: 99;
}

.game
{
    position: absolute; 
    width: 25%; height: 66%;
    bottom: 12%; left: 62%; 
    background-color: rgb(0, 0, 0); 
    z-index: 200; 
    outline: 2px solid gray; border-radius: 4px;
    transition: 0.3s; 
    transform: scale(0);
    opacity: 0; 
    overflow: hidden;
    /* transform-style: preserve-3d; */
}
.game.full
{
    transform: scale(1);
     opacity: 1; z-index: 1;
     overflow-y: hidden;
}
.gm
{
    top: 45%; z-index: 99; 
}

/* .diamond::-webkit-scrollbar {
    width: 20px;
  }
  
  .diamond::-webkit-scrollbar-track {
    background-color: #e4e4e400;
    border-radius: 100px;
  }
  
  .diamond::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #ffee03f8;
  } */

  .message::-webkit-scrollbar {
    width: 20px;
  }
  
  .message::-webkit-scrollbar-track {
    background-color: #e4e4e400;
    border-radius: 100px;
  }
  
  .message::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 1px solid white;
    background-clip: content-box;
    background-color: #ff9603f8;
    
  }


  .legend::-webkit-scrollbar {
    width: 10px;
  }
  
  .legend::-webkit-scrollbar-track {
    background-color: #e4e4e400;
    border-radius: 100px;
  }
  
  .legend::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 1px solid white;
    background-clip: content-box;
    background-color: #000000f8;
  }

  .find::-webkit-scrollbar {
    width: 10px;
  }
  
  .find::-webkit-scrollbar-track {
    background-color: #e4e4e400;
    border-radius: 100px;
  }
  
  .find::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 1px solid white;
    background-clip: content-box;
    background-color: #6d6d6df8;
  }


  .song_story::-webkit-scrollbar {
    width: 20px;
  }
  
  .song_story::-webkit-scrollbar-track {
    background-color: #e4e4e400;
    border-radius: 100px;
  }
  
  .song_story::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 1px solid white;
    background-clip: content-box;
    background-color: #ffffff16;
  }
  


@media (max-width: 1000px)
{
    .bg 
{
    position: absolute; width: 100%; filter: hue-rotate(0deg);
    background-image: url(https://i.pinimg.com/originals/e8/75/23/e8752348fc4f1ac0c3addc7e50053aaa.gif);
}
    .name
    {
        font-size: 10vh;
        z-index: 100; transition: 0s;
    }
    .name.full
    {
        transition: 0s;
    }
    .booty
    {
        z-index: 20; transition: 0.5s;
        position: absolute;  left: -85%; top: 21%; height: 78%; width: 80%; backdrop-filter: none; background-color: rgba(0, 0, 0, 0.855);
    }
    .booty.full
    {
        left: 1%; top: 21%; width: 80%;
    }
    .booty.full .image
    {
        height: 100%; width: auto; top: 0%;
        transform: translateX(-200px);
    }
    .image.full
    {
        left: 180%;
    }
    .avatar
    {
        width: 60%;
        height: 76%;
        z-index: 1;
    }

    .avatar.full
    {
        width: 95%;
    }

    .message
    {
        font-size: 4.5vw; 
    }
    .l h2
    {
        font-size: 5vw;

    }
    .secret.on
    {
        right: 0%; width: 90%; z-index: 3;
    }
    .user
    {

        background-color: rgba(255, 255, 0, 0); width: 0%; height: 7%; left: 32%; outline: 1px solid rgba(255, 255, 255, 0); 
    }
    .user.full
    {
        width: 65%; height: 7%;
    }
    #r
    {
        display: none;
        /* width: 0px; */
    }
    .icon
    {
       width: 20%;
    }

    .song_image
    {
        position: relative;
        width: 90%; height: 71%; top: 10%; left: 4%; 
    }
    .song_image img
    {
        position: relative; width: auto; height: 100%; left: 0%; top: 0%; 
        
    }
    .progress_bar
    {
        height: 2%; width: 90%; margin-bottom: 1%; left: 5%; top: 4.3%;
    }
    .tyty
    {
        position: relative;
        width: 90%;  height: 12%; top: 7%; margin-left: 4%;  
    }
    .tyty h1
    {

        font-size: 2.6vh; left: 0%; top: 10%;
    }
    .headphones
    {
        display: block;
        width: 10%; height: auto; 
    }
    .vid
    {
        filter: brightness(1.5) contrast(1.1); 
        transform: rotate(90deg);
        left: -270px; 
        
        top: -120px;
        /* height: 600px; */
        width: 220%;
    }
    .twerk.full, .nudes.full, .find.full, .diamond.full, .merchendise.full
    {
        opacity: 1; height: 85%; width: 91%;
    }

    .ava
    {
        display: none;
    }
    .legend
    {
        position: absolute; display: none; overflow: hidden; overflow-y: scroll;
        width: 90%; height: 70%; outline: 1px solid rgba(255, 255, 255, 0.099); top: 20%; right: 4%;
    }
    .legend.full
    {
        display: block;
    }
    .legend h1
    {
        font-size: 1rem;
    }
    .demotrack
{
    position: absolute; width: 80%; height: 66%; background-color: rgba(0, 0, 0, 0.858); bottom: 2%; left: 1%; z-index: 200; outline: 2px solid gray; border-radius: 4px;
    transition: 0.3s; overflow: hidden;
    transform: scale(0);
     opacity: 0; 
    transform-style: preserve-3d;

}
.demotrack.full
{
    transform: scale(1);
     opacity: 1; z-index: 1;
}
.demo
{
    top: 33.5%; z-index: 99;
}
.game
{
    position: absolute; width: 80%; height: 66%;
    background-color: rgb(0, 0, 0); 
    bottom: 2%; left: 1%; z-index: 200; 
    outline: 2px solid gray; border-radius: 4px;
    transition: 0.3s; 
    transform: scale(1);
    display: none;
    opacity: 0; 
    overflow: hidden;
    /* transform-style: preserve-3d; */
}
.game.full
{
    transform: scale(1);
     opacity: 1; z-index: 1;display: block;
     overflow-y: hidden;
}      
    

}
@media (max-height: 400px) and (max-width: 1000px)
{
    .avatar
    {
        width: 22%; top: 18%; height: 80%;
    }
    .place
    {
        outline: 3px solid rgba(255, 255, 255, 0.136);
    }
    .user.full
    {
        width: 33%;
        left: 90%;

    }
    .user
    {
        display: block;
        left: 22%; top: 18%;
    }
    .message.full, .diamond.full, .price.full, .twerk.full, .find.full, .nudes.full
    {
        height: 99%; width: 76%; left: 13%;
    }
    .message
    {
        font-size: 4.4vh;
        padding-left: 2%; padding-top: 2%; top: 1%;
    }
    .song_image img
    {
        width: 100%; height: auto;
        left: 0;
    }
    .song_image h1
    {
        font-size: 3.3vh;
    }
    .tyty h1
    {
        left: 20%; font-size: 3vh;
    }
    .headphones
    {
        width: 50px; height: auto;
    }
    .name
    {
        height: 13%;
    }
    .booty
    {
        left: 110%; top: 18%; width: 60%; height: 80%; opacity: 0;
    }
    .booty.full
    {
        left: 27%; top: 18%; width: 62%; height: 80%; opacity: 1;
    }



}
@font-face
{
  font-family: 'Enchanted Land';
  src: url('enchanted_land/Enchanted\ Land.otf'); 
}
@font-face
{
  font-family: 'great-vibes';
  src: url('great-vibes/GreatVibes-Regular.ttf'); 
}
@font-face
{
  font-family: 'Century';
  src: url('Century/Century_Gothic.ttf'); 
}

