.video
{
    /* top: 0%; */
    width: 70%;
    border-radius: 10px;
}
.videobody
{
    background-color: transparent;
}
.description
{
    /* padding: ; */
    top: 1%;
    right: 1%;
    position: absolute;
    width: 28%;
    height: 80%;
    background-color:rgba(64, 224, 208, 0);
    outline: 1px solid rgba(255, 255, 255, 0.15);
}
.description h1
{
    font-family: 'Courier New', Courier, monospace;
    padding: 5%;
    font-size: 1vw;
    /* font-size: 1.1rem; */
    color: rgb(255, 255, 255);
}
.videowrapper
{
    position: absolute;
    left: 0.5%;
    top: 10%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0);
}
